
 h1{
    color:purple;
     }
    
    
    
    p{
          color:blue;
    }
    .header{
        background-color: green ;
    display : flex;
    justify-content:space-evenly;
}

.games {
    display : flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
  }

  .icons {
display : flex;
justify-content:flex-end ;
  }